<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles.css">
    <title>GLS EXTRACTOR by SendingBay</title>
</head>
<body>
    <div class="bodywrapper">
        <h1 class="titulo">Extractor de datos de GLS</h1>
        <div class="data-box" id="data-box">
            <!-- Data will be dynamically added here -->
        </div>
        <button id="copyButton">Copy to Clipboard</button>
        <br>
    </div>

    <!-- Display current page input -->
    <div>
        <label for="page">Current Page:</label>
        <input type="text" id="pageInput" class="paginate_input" value="1" readonly />
    </div>

    <script>
        const eventSource = new EventSource('/events');
        const dataBox = document.getElementById('data-box');
        const pageInput = document.getElementById('pageInput');

        eventSource.onmessage = function(event) {
            try {
                const data = JSON.parse(event.data);
                if (data.type === "heartbeat") {
                    console.log('Heartbeat received');
                } else if (data.type === "data") {
                    console.log('Received JSON data:', data.content);
                    const formattedData = `${data.content.uid}&nbsp;&nbsp;&nbsp;&nbsp;${data.content.clientCode}`;
                    const entry = document.createElement('div');
                    entry.innerHTML = formattedData;
                    dataBox.appendChild(entry);
                    // Update current page number
                    pageInput.value = data.currentPage;
                } else if (data.type === "END") {
                    console.log('No more data to receive.');
                    eventSource.close();
                }
            } catch (error) {
                console.error('Failed to parse JSON data:', event.data, error);
            }
        };

        document.getElementById('copyButton').addEventListener('click', function() {
            const range = document.createRange();
            range.selectNode(dataBox);
            window.getSelection().addRange(range);

            try {
                const successful = document.execCommand('copy');
                const msg = successful ? 'successful' : 'unsuccessful';
                console.log('Copy command was ' + msg);
                alert('Copied!');
            } catch (err) {
                console.log('Oops, unable to copy');
            }
            window.getSelection().removeAllRanges();
        });
    </script>
</body>
</html>
