
@font-face {
    font-family: Poppins;
    src: url('https://fonts.googleapis.com/css?family=Poppins');
}
.titulo{
    font-family: Poppins, Arial, sans-serif;
    color: blueviolet;
    font-size: 40px;
    margin-top: 60px;
}

.bodywrapper{
    text-align: center;
}
.bodywrapper {
    width: 80%;
    margin: 0 auto;
}

.titulo {
    text-align: center;
}

.data-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.record {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.record:last-child {
    border-bottom: none;
}

form {
    text-align: center;
}
.data-box {
    max-height: 300px; /* Adjust height as needed to fit 10 entries */
    overflow-y: auto; /* Enables vertical scrolling */
    margin: 20px 0; /* Adds some margin around the box */
    padding: 10px; /* Adds padding inside the box */
    border: 1px solid #ccc; /* Adds a border around the box */
    background-color: #f9f9f9; /* Light grey background for visibility */
}